html, body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.board-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 1080px;
}

.board {
    display: flex;
    justify-content: space-between;
    width: 250px;
    height: 95px;
    margin: 10px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    background: #007cbb;
}
.board-link{
    color: #ffffff;
    display: block;
    width: 200px;
}

a:hover, a:active{
    color: #ffffff !important;
    text-decoration: none !important;
}

.delete{
    display: none;
    padding: 0;
    height: 10px;
    background-color: rgba(0,0,0,0);
    border: none;
}

.board:hover {
    background: #005b95;
    color: #ffffff;
    text-decoration: none;
}

.create-board {
    display: block;
    width: 250px;
    height: 95px;;
    margin: 10px;
    padding-top: 5px;
    padding-left: 10px;
    border-radius: 3px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    background: #d4d4d4;
}

.create-board:hover {
    background: #b6b6b6;
    color: #ffffff;
    text-decoration: none;
}

.save-board {
    display: none;
    width: 250px;
    height: 95px;
    margin: 10px;
    padding: 5px;
    border-radius: 3px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    background: #d4d4d4;
}

.title-board {
    margin-top: 5px;
    margin-left: 5px;
    padding-left: 10px;
    width: 230px;
    border-radius: 3px;
    margin-bottom: 5px;
    border: none;
    background-color: #ffffff;
    color: #757575;
    font-size: 20px;
    font-weight: bold;
}

::placeholder {
    font-size: 20px;
    font-weight: bold;
}

input:focus, input:hover {
    outline:none;
}

button:focus{
    outline: none;
}
#button-save {
    margin-top: 5px;
    margin-left: 5px;
}

.close {
    margin-top: 5px;
    margin-right: 5px;
}

.modal-window {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.content {
    background-color: rgba(0,0,0,0);
    padding: 5px;
    margin: 30px auto;
    border-radius: 3px;
    width: 350px;
}

.content-message{
    background-color: #ffffff;
    border-radius: 3px;
    margin-bottom: 5px;
    padding: 10px;
}

#remove{
    margin-top: 0;
    margin-bottom: 5px;
}