html, body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.board-container {
    display: flex;
    flex-direction: column;
    width: 1240px;
    margin: auto;
}

.head{
    display: flex;
    margin-bottom: 10px;
}

.main-menu{
    display: flex;
}

.board-name{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    width: 50px;
    margin-right: 10px;
    background-color: #007cbb;
    text-align: center;
    color: white;
    border-radius: 3px;
}

#edit{
    display: none;
}

.form-edit{
    display: flex;
}

.edit-input{
    width: 231px;
    margin-right: 10px;
    padding-left: 5px;
    border: none;
    border-radius: 3px;
    background-color: #e2e4e6;
    font-size: 18px;
}

.task-list-container {
    display: flex;
    align-items: flex-start;
    overflow-x: auto;
    height: 500px;
}

.task-list-container::-webkit-scrollbar {
    height: 10px;
}

.task-list-container::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #e2e4e6;
}

.task-list-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #b4b5b7;
}

.task-list {
    margin-right: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 10px;
    min-width: 300px;
    background-color: #e2e4e6;
    border-radius: 3px;
}

.list {
    padding: 0px;
    display: flex;
    flex-direction: column;
    max-height: 350px;
    overflow-y: auto;
}


.list::-webkit-scrollbar {
    width: 5px;
}
.list::-webkit-scrollbar-thumb {
    padding-top: 5px;
    border-radius: 5px;
    background-color: #b4b5b7;
}

.task {
    background-color: #ffffff;
    padding: 5px 90px 30px 5px;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 3px;
    border-bottom: 2px #cdcdcd ;
    min-height: 55px;
}

.task:hover {
    background-color: #edeff0;
}

.add-task {
    display: block;
    margin-top: 10px;
    padding-left: 5px;
}

.title-task {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    width: 280px;
    height: 30px;
    border-radius: 3px;
    border: none;
    font-size: 15px;
}

.save-task {
    display: none;
}

.close {
    margin-right: 5px;
}

input:focus, input:hover {
    outline:none;
}

.add-list{
    display: block;
    margin-right: 10px;
    padding-bottom: 10px;
    padding-right: 120px;
    padding-left: 10px;
    min-width: 300px;
    background-color: #e2e4e6;
    border-radius: 3px;
}

.add-list:hover{
    background-color: #b7b9bb;
}

.title-task-list{
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 5px;
    width: 280px;
    height: 30px;
    border-radius: 3px;
    border: none;
    font-size: 15px;
}